<div class="sticky top-0 bg-purple-600 w-full px-8 py-4">
    <div class="container flex items-center justify-between mx-auto text-white">
        <div>
            <h1 class="font-bold text-lg">Lyfter</h1>
        </div>
        <div class="flex gap-10">
            <button class="flex items-center gap-2 font-semibold" [routerLink]="['/dashboard']" routerLinkActive="font-semibold">
                <mat-icon fontIcon="home"></mat-icon>
                Dashboard
              </button>
              <button class="flex items-center gap-2" [routerLink]="['/new-workout']" routerLinkActive="font-semibold">
                <mat-icon fontIcon="content_paste"></mat-icon>
                New workout
              </button>
              <button class="flex items-center gap-2" [routerLink]="['/log']" routerLinkActive="font-semibold">
                <mat-icon fontIcon="add_box"></mat-icon>
                Log workout
              </button>
              <button class="flex items-center gap-2" [routerLink]="['/profile']" routerLinkActive="font-semibold">
                <mat-icon fontIcon="person"></mat-icon>
                Profile
              </button>
        </div>
    </div>
</div>