<div *ngIf="!isLoggedIn" class="bg-slate-950 h-full">
    <div class="flex flex-col items-center h-full px-5 md:justify-center">
        <div class="flex flex-col items-center justify-center h-1/2 md:h-max">
            <h1 class="text-white text-4xl font-semibold">Lyfter</h1>
            <h2 class="text-white text-sm">A gym addict's dream</h2>
        </div>
        <div class="flex flex-col gap-4 mt-auto mb-8 w-full md:mt-4 md:w-max">
            <button [routerLink]="['/login']" class="bg-purple-900 text-white py-4 rounded-lg font-semibold md:px-24 hover:bg-purple-600 transition-colors">Login</button>
            <button [routerLink]="['/register']" class="bg-purple-900 text-white py-4 rounded-lg font-semibold md:px-24 hover:bg-purple-600 transition-colors">Signup</button>
        </div>
    </div>
</div>

