<div class="h-full bg-slate-950">
    <form
      class="flex flex-col h-full justify-center items-center"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col items-center justify-center h-1/2 md:h-max md:mb-8">
        <h1 class="text-white text-4xl font-semibold">Lyfter</h1>
        <h2 class="text-white text-sm">A gym addict's dream</h2>
      </div>
      <div class="flex flex-col gap-2 mt-auto mb-8 w-full px-5 md:items-center md:w-96 md:mt-0">
        <div class="flex w-full items-center justify-center border-1 border-red-700 bg-red-300 text-red-700 px-2 py-4 rounded-lg" *ngIf="isLoginFailed">
            {{ errorMessage }}
          </div>
        <div class="flex flex-col w-full items-center">
          <input
            [ngClass]="{'border-red-600' : isLoginFailed}"
            class="w-full p-4 rounded-lg focus:outline-none border border-purple-600"
            type="text"
            name="username"
            formControlName="username"
            placeholder="Username"
          />
        </div>
        <div class="flex flex-col w-full items-center">
          <input
            [ngClass]="{'border-red-600' : isLoginFailed}"
            class="w-full p-4 rounded-lg focus:outline-none border border-purple-600"
            type="password"
            name="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div class="flex flex-col w-full items-center gap-2">
          <button
            class="bg-purple-900 text-white py-4 rounded-lg font-semibold hover:bg-purple-600 transition-colors w-full"
            type="submit"
          >
            Sign in
          </button>
          <p class="text-white font-normal">
            Don't have an account?
            <span class="text-purple-900 hover:text-purple-600 font-semibold cursor-pointer transition-colors" [routerLink]="['/register']">Sign Up</span>
          </p>
        </div>
      </div>
    </form>
  </div>
  