<div class="flex sticky bottom-0 items-center justify-evenly bg-purple-600 w-full pb-6 pt-4">
    <button [routerLink]="['/dashboard']">
      <mat-icon class="text-white scale-125" fontIcon="home"></mat-icon>
    </button>
    <button [routerLink]="['/new-workout']">
      <mat-icon class="text-white scale-125" fontIcon="content_paste"></mat-icon>
    </button>
    <button [routerLink]="['/log']">
      <mat-icon class="text-white scale-125" fontIcon="add_box"></mat-icon>
    </button>
    <button [routerLink]="['/posts']">
      <mat-icon class="text-white scale-125" fontIcon="chat"></mat-icon>
    </button>
    <button>
      <mat-icon [routerLink]="['/profile']" class="text-white scale-125" fontIcon="person"></mat-icon>
    </button>
</div>